#gamegrid {
  display: grid;
  align-items: center;
  max-height: 80vh;
    max-width: 80vw;
}

#inventory {
  font-size: 2em;  
  display: inline;
  height: 80vmin;
  width: 20vmin;
}

.gamediv {
  box-sizing: border-box;
  border: 5px solid black;
  float: left;
  border-radius: 10px;
}

.blanktile {
  background-color: white;
  font-size: 0.5em;
}

.grassland {
  background-color: green;
}

.mountain {
  background-color: rgb(60, 49, 47);
}

.peak {
  background-color: white;
}

.lowland {
  background-color: rgb(39, 73, 28);
}

.water {
  background-color: rgb(17, 99, 165);
}

.trench {
  background-color: blue;
}

.tile { 
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.player {
  /* background-color: green; */
  background-image: url("./assets/images/Player.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgb(162, 38, 162);
}
.topleft {
  border-top-left-radius: 5px;
}

.topright {
  border-top-right-radius: 5px;
}

.bottomleft {
  border-bottom-left-radius: 5px;
}

.bottomright {
  border-bottom-right-radius: 5px;
}

html,
body {
  height: 100%;
  margin: 0;
  text-align: center;
}
